.user-dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Para posicionar el botón de desconexión */
  }
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #007bff;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .voted-status {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9em;
  }
  
  .verify-votes-button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .verify-votes-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  